db_insert/src/main/app/db_insert.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
	<http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
	<db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="pma" password="ganesh9666" database="employee" doc:name="MySQL Configuration"/>
	<flow name="db_insertFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/insert" allowedMethods="post" doc:name="HTTP"/>
		<set-payload value="#[payload]" doc:name="Set Payload"/>
		<logger message="Received data from database is: #[payload]" level="INFO" doc:name="Logger"/>
		<db:insert config-ref="MySQL_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[insert into emp_data 
values ('s1','ganesh','mani','98878765867','mani@gmail.com');]]></db:parameterized-query>
		</db:insert>
		<json:object-to-json-transformer doc:name="Object to JSON"/>
		<logger message="Responce from database is : #[payload] row inserted" level="INFO" doc:name="Logger"/>
	</flow>
	<flow name="db_insertFlow1">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/dynamicinsert" allowedMethods="post" doc:name="Dynamic_insert"/>
		<set-payload value="#[payload]" doc:name="Set Payload"/>
		<logger message="Received data from database is : #[payload]" level="INFO" doc:name="Logger"/>
		<db:insert config-ref="MySQL_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[insert into emp_data
values(#[message.inboundProperties.'http.query.params'.slno],
#[message.inboundProperties.'http.query.params'.emp_fname],
#[message.inboundProperties.'http.query.params'.emp_lname],
#[message.inboundProperties.'http.query.params'.emp_ph],
#[message.inboundProperties.'http.query.params'.emp_email]);]]></db:parameterized-query>
		</db:insert>
		<logger message="Responce from database is : #[payload]" level="INFO" doc:name="Logger"/>
		<db:select config-ref="MySQL_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[select * from emp_data where slno = #[message.inboundProperties.'http.query.params'.slno];]]></db:parameterized-query>
		</db:select>
		<set-payload value="#[payload]" doc:name="Set Payload"/>
		<json:object-to-json-transformer doc:name="Object to JSON"/>
		<logger message="inserted data is :#[payload]" level="INFO" doc:name="Logger"/>
	</flow>
</mule>
